.a{
    border: 12px solid black;
    height: 30px;
    width: 30%;
    margin: 10px;
}
.b{
    border: 12px solid black;
    height: 30px;
    width: 30%;
}
.c{
    border: 12px solid black;
    height: 30px;
    width: 30%;
}
.d{
    border: 12px solid black;
    height: 30px;
    width: 30%;
}