.navbar{
    background-color: wheat;
}

.radius .navbar-brand .logo {
    border-radius: 50%;

}
.collapse .me-auto .nav-item .nav-link{
    color: black;
    padding: 35px;
    font-size:25px;
}
.s1 {
    padding: 10px;
    text-align: center;
    background-color: rgb(138, 120, 120);
}
.col{
    font-family: cursive;
    font-size: smaller;

    
}
.rounded-circle{
    border-radius: 50%;
    height: 55px;
}