ul li {
    padding-left: 80px;
}
section .navbar{
    position:sticky;
    top:0;,l
    z-index: 1;
    height: 100px;
    background-color: rgb(252, 212, 154);
}
h4{
    text-align: center;
   padding: 20px;
}
.services{
    display: flex;
    justify-content: center;
}
#about{
    background-color: rgb(239, 239, 167);
}
.col img{
    padding-bottom: 20px;
    shadow: 2px 2px 4px solid black;
}
#services{
    background-color: rgb(205, 236, 134);
}
.card{  
    padding-bottom: 20px;
}
.carousel-item img{
    opacity: 0.5;
}