.btn{
    height: 60px;
    width: 100px;
    background-color: rgba(128, 255, 0, 0.735);
    position: relative;
    display: inline-block;
    margin: 20px;
    border-radius: 20px;

}
table{
    margin-top: 9px;
    position: absolute;
    display: none;
}
.btn:hover table{
    display: block;
    background-color: rgba(99, 226, 141, 0.39);
    box-shadow: 3px 3px 3px rgb(218, 231, 27);

}