.btn{
    padding: 14px 30px;
    background-color: red;
    font-size: 30px;
    color: white;
    border-radius: 30px;
    position: relative;
    display: inline-block;
}
.btn .img{
    position: absolute;
    display: none;

}
.btn:hover .img{
    display: block;
    width: 800px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
}