h1{
    outline: 10px solid red;
    border: 2px dotted black;
    outline-color: red;  
    outline-width: 4px;  
    margin: 10px;    
    padding: 5px 10px;
    background-color: blanchedalmond;  
}
h2{
    outline-style: groove;
    outline-width: medium;
    outline-color: red
    outline-offset: 15px;
    margin: 10px;    
    padding: 5px 10px;  

}

h3{
    border: 10px groove pink;
    outline-style: inset;
    margin: 10px; 
    padding: 5px 10px;  


}
h4{
    border-top-right-radius: 2px;
    border: 10px ridge brown;
    margin: 10px;    
    padding: 5px 10px; 
    background-color: aquamarine;
}