.img1{
    width: 400px;
    height: 400px;
    opacity: 0.25;
    margin-right: 30px;
    display: inline-block;
}
.img2{
    width: 400px;
    height: 400px;
    opacity: 50%;
    margin-right: 30px;
    display: inline-block;
}
.img3{
    width: 400px;
    height: 400px;
    opacity: 75%;
    margin-right: 30px;
    display: inline-block;
}
.img4{
    width: 400px;
    height: 400px;
    opacity: 1;
    margin-right: 30px;
    display: inline-block;
    
}