body{
    background-image: url(opacity.png);
    background-repeat: no-repeat;
    background-size: cover ;
    margin: 15px;
    padding: 10px;
    background-color: black;

    
}


a:hover{
    background-color: white;

}
img{
    height: 200px;
    width: 200px;
    margin: 30px;
    opacity: 0.5;
    outline: 1px solid black;
    outline-offset: 1px solid grey;

}
img:hover{
    opacity: 1.0;
}
p{
    font-size: 18px;
    border: 2px groove;
    border-top-left-radius: 40px;
    padding: 10px;
    border-bottom-right-radius: 40px;
    background-color: rgba(128, 128, 128, 0.384);

}
p:hover{
    color: darkblue;
}






/* img{
    height: 200px;
    width: 200px;
    opacity: 0.5;
    float: right;

}
img:hover{
    opacity: 1.0;
} */